In [3]:
import pandas as pd
from itertools import product
from IPython.display import display, HTML

# Format specifiers and their flag compatibilities
format_specifiers = {
    "%d/%i": ['#', '0', '-', ' ', '+', "'", 'I'],
    "%o":    ['#', '0', '-', "'", 'I'],
    "%u":    ['0', '-', "'", 'I'],
    "%x/%X": ['#', '0', '-', "'", 'I'],
    "%a/%A": ['#', '0', '-', '+', "'",],
    "%e/%E": ['#', '0', '-', '+', "'",],
    "%f/%F": ['#', '0', '-', '+', "'",],
    "%g/%G": ['#', '0', '-', '+', "'",],
    "%c":    ['-'],
    "%s":    ['-'],
    "%p":    ['0', '-'],
    "%n":    [],
}

# All flags
flags = ['#', '0', '-', ' ', '+', "'", 'I']

# Create a list of rows with combinations
rows = []
for spec, allowed_flags in format_specifiers.items():
    for flag in flags:
        combo = f"%{flag}{spec[-1]}"  # use last char of spec as base
        if flag in allowed_flags:
            status = "✔️"
        elif flag in ["'", "I"] and flag in allowed_flags:
            status = "⚠️"
        else:
            status = "❌"
        rows.append((spec, flag, combo, status))

# Convert to DataFrame
df = pd.DataFrame(rows, columns=["Specifier", "Flag", "Combination", "Status"])

# Pivot for display
combo_df = df.pivot(index="Specifier", columns="Flag", values="Combination")
status_df = df.pivot(index="Specifier", columns="Flag", values="Status")

# Display side-by-side in Jupyter
style1 = combo_df.style.set_caption("🧩 Format: Flag + Specifier").set_table_attributes("style='display:inline-block; margin-right:50px;'")
style2 = status_df.style.set_caption("✅ Validity Matrix").set_table_attributes("style='display:inline-block;'")

display(HTML("<h2>Formatted Combinations and Status</h2>"))
display(style1)
display(style2)

In [4]:
import itertools

flags = ['', '-', '0', '+', ' ', '#']
widths = ['', '6']
precisions = ['', '.2']
specs = ['d', 'f', 'x', 's']

for combo in itertools.product(flags, widths, precisions, specs):
    flag, width, precision, spec = combo
    fmt = f"%{flag}{width}{precision}{spec}"
    print(f"{fmt:10} -> {fmt % (42 if spec != 'f' else 3.14159 if spec != 's' else 'hello')}")

%d         -> 42
%f         -> 3.141590
%x         -> 2a
%s         -> 42
%.2d       -> 42
%.2f       -> 3.14
%.2x       -> 2a
%.2s       -> 42
%6d        ->     42
%6f        -> 3.141590
%6x        ->     2a
%6s        ->     42
%6.2d      ->     42
%6.2f      ->   3.14
%6.2x      ->     2a
%6.2s      ->     42
%-d        -> 42
%-f        -> 3.141590
%-x        -> 2a
%-s        -> 42
%-.2d      -> 42
%-.2f      -> 3.14
%-.2x      -> 2a
%-.2s      -> 42
%-6d       -> 42
%-6f       -> 3.141590
%-6x       -> 2a
%-6s       -> 42
%-6.2d     -> 42
%-6.2f     -> 3.14
%-6.2x     -> 2a
%-6.2s     -> 42
%0d        -> 42
%0f        -> 3.141590
%0x        -> 2a
%0s        -> 42
%0.2d      -> 42
%0.2f      -> 3.14
%0.2x      -> 2a
%0.2s      -> 42
%06d       -> 000042
%06f       -> 3.141590
%06x       -> 00002a
%06s       ->     42
%06.2d     -> 000042
%06.2f     -> 003.14
%06.2x     -> 00002a
%06.2s     ->     42
%+d        -> +42
%+f        -> +3.141590
%+x        -> +2a
%+s        -> 42
%+.2d      -> +42
%+.2f      -> +3.14
%+.2x      -> +2a
%+.2s      -> 42
%+6d       ->    +42
%+6f       -> +3.141590
%+6x       ->    +2a
%+6s       ->     42
%+6.2d     ->    +42
%+6.2f     ->  +3.14
%+6.2x     ->    +2a
%+6.2s     ->     42
% d        ->  42
% f        ->  3.141590
% x        ->  2a
% s        -> 42
% .2d      ->  42
% .2f      ->  3.14
% .2x      ->  2a
% .2s      -> 42
% 6d       ->     42
% 6f       ->  3.141590
% 6x       ->     2a
% 6s       ->     42
% 6.2d     ->     42
% 6.2f     ->   3.14
% 6.2x     ->     2a
% 6.2s     ->     42
%#d        -> 42
%#f        -> 3.141590
%#x        -> 0x2a
%#s        -> 42
%#.2d      -> 42
%#.2f      -> 3.14
%#.2x      -> 0x2a
%#.2s      -> 42
%#6d       ->     42
%#6f       -> 3.141590
%#6x       ->   0x2a
%#6s       ->     42
%#6.2d     ->     42
%#6.2f     ->   3.14
%#6.2x     ->   0x2a
%#6.2s     ->     42